.hbox, .vbox {
	-fx-padding: 15.0;
	-fx-spacing: 10.0;
}

.grid {
	-fx-background-insets: 0.0 0.0 0.0 0.0;
	-fx-padding: 15.0 15.0 15.0 15.0;
	-fx-hgap: 10.0;
	-fx-vgap: 10.0;
}

.tab-pane .tab-content-area {
	-fx-border-color: -fx-box-border;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

/** Remove the focus border which interlapped the text. */
.tab-pane > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-insets: 0 0 0 0, 0 1 0 0, 1 2 0 1;
}

.titled-pane>*.content {
	-fx-background-insets: 0.0;
	-fx-padding: 0.0;
}

.padding {
    -fx-padding: 15.0;
}

.paddingLeft {
    -fx-padding: 0.0 0.0 0.0 15.0;
}

.paddingLeftTop {
    -fx-padding: 15.0 0.0 0.0 15.0;
}

.paddingTop {
    -fx-padding: 15.0 0.0 0.0 0.0;
}

.paddingRight {
    -fx-padding: 0.0 15.0 0.0 0.0;
}

.paddingLeftBottomRight {
    -fx-padding: 0.0 15.0 15.0 15.0;
}

.no-padding {
	-fx-padding: 0.0;
}

.tile-pane {
    -fx-hgap: 15.0;
    -fx-vgap: 15.0;
}

.titled-separator {
    -fx-font-weight: bold;
    -fx-padding: 0.0 10.0 0.0 0.0;
}

.titled-separator-pane {
    -fx-padding: 20.0 0.0 0.0 0.0;
}

.flat-button {
    -fx-background-color: transparent;
    -fx-padding: 0.0;
}

/*********************
 * Field with clear
 *********************/
 
.text-field-with-clear {
	-fx-padding: 4 24 4 4; 
}
 
.text-field-clear-button {
	-fx-background-color: transparent;
	-fx-cursor: hand;
	-fx-padding: 0;
}

.text-field-clear-button:hover {
	-fx-text-fill: derive(-fx-text-base-color, -30%);
}

/*********************
 * Log View
**********************/

.log-view {
	-fx-font-family: 'monospace';
	-fx-font-size: 1.5em;	
}

.log-view .list-cell:selected {
	-fx-background-color: -fx-focus-color;
}

.log-view .list-cell:info {
}

.log-view .list-cell:error {
    -fx-text-fill: red;
}